.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
plots/
images/
about_you.R
ads_and_businesses.R
apps_and_websites.R
comments.R
events.R
friends.R
information_used_for_recommendations.R
init.R
likes_and_reactions.R
location.R
marketplace.R
other_activity.R
posts.R
profile_information.R
security_and_login_information.R
utils.R
*.csv
*.png
*.txt